body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;

}
.stopwatch{
 display: flex;
  flex-direction: column;
  align-items: center;
  border: 6px solid rgb(51, 31, 65);
  border-radius: 15px;
  background-color: rgb(126, 58, 135);
  padding: 30px;

}
.display{
  font-size: 15px;
  font-weight: bold;
  color:hwb(308 74% 0%);
  text-shadow: 2px 2px 2px rgb(141, 60, 144);
  margin-bottom: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.controls button{
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  color: rgb(108, 30, 30);
  transition: background-color 0.5s ease; 
  border-radius: 10px;
  cursor: pointer;


}
.start-button{
  background-color: rgb(138, 223, 138);

}
.start-button :hover{
  background-color: rgb(77, 200, 77);
  
}
.stop-button{
  background-color: rgb(201, 40, 123);
  
}
.stop-button:hover{
  background-color: rgb(238, 116, 175);

  
}
.reset-button{
  background-color: rgb(51, 197, 230);
  
}
.reset-button:hover{
  background-color: rgb(178, 247, 247);
  
}